.container {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

.container-actions { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0;
}

.margin-right {
    margin-right: 5%;
}

.margin-top {
    margin-top: 3%;
}

.file-input {
    display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}