<div *ngIf="loading" class="loading-container">
    Cargando...
</div>

<div *ngIf="!loading">
    <div class="grid">
        <div class="col-12">
            <div class="card px-6 py-6">
                <p-toast></p-toast>
                    <p-toolbar styleClass="mb-4" *ngIf="((this.permissions.includes('create-ingredients') || this.permissions.includes('delete-ingredient') ) || this.isAdmin())">
                    <ng-template pTemplate="left">
                        <div class="my-2">
                            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()" *ngIf="(this.permissions.includes('create-ingredients') || this.isAdmin())"></button>
                            <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedIngredient()" [disabled]="!selectedIngredient || !selectedIngredient.length" *ngIf="(this.permissions.includes('delete-ingredient') || this.isAdmin())"></button>
                        </div>
                    </ng-template>
                </p-toolbar>

                <p-table #dt [value]="ingredients" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedIngredient" selectionMode="multiple" [rowHover]="true" dataKey="id">
                    <ng-template pTemplate="caption">
                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                            <h5 class="m-0">Inventario de Ingredintes</h5>
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 11rem" *ngIf="(this.permissions.includes('delete-ingredient') || this.isAdmin())">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                            <th pSortableColumn="name">Descripcin <p-sortIcon field="name"></p-sortIcon></th>
                            <th pSortableColumn="name">Código <p-sortIcon field="name"></p-sortIcon></th>
                            <!-- <th pSortableColumn="name">unidad <p-sortIcon field="name"></p-sortIcon></th> -->
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-ingredient>
                        <tr>
                            <td *ngIf="(this.permissions.includes('delete-ingredient') || this.isAdmin())">
                                <p-tableCheckbox [value]="ingredient"></p-tableCheckbox>
                            </td>
                            <td style="width:27%; min-width:10rem;">
                                <span class="p-column-title">Nombre</span>
                                {{ingredient.name}}
                            </td>
                            <td style="width:27%; min-width:10rem;">
                                <span class="p-column-title">Descripción</span>
                                {{ingredient.description}}
                            </td>
                            <td style="width:27%; min-width:10rem;">
                                <span class="p-column-title">Código</span>
                                {{ingredient.sku}}
                            </td>
                            <!-- <td style="width:7%; min-width:10rem;">
                                <span class="p-column-title">Unidad</span>
                                {{ingredient.unit}}
                            </td> -->
                            <td>
                                <div class="flex">
                                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editIngredient(ingredient)" *ngIf="(this.permissions.includes('update-ingredient') || this.isAdmin())"></button>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteIngredient(ingredient)" *ngIf="(this.permissions.includes('delete-ingredient') || this.isAdmin())"></button>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

            <p-dialog [(visible)]="ingredientDialog" [style]="{width: '450px'}" header="Detalles de ingrediente" [modal]="true" class="p-fluid">
                <form [formGroup]="ingredientForm" (ngSubmit)="saveIngredient()">
                    <div class="field">
                        <label for="name">Nombre</label>
                        <input type="text" pInputText formControlName="name" required autofocus/>
                    </div>
                    <div class="field">
                        <label for="name">Código</label>
                        <input type="text" pInputText formControlName="sku" required autofocus/>
                    </div>
                    <div class="field">
                        <label for="unit"  class="font-medium text-900">Unidad</label>
                        <p-dropdown formControlName="unit" [options]="units" optionLabel="name" placeholder="Seleccione una unidad">
                            <ng-template let-option pTemplate="item">
                                <div class="flex align-items-center">
                                    <span>{{option.name}}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div class="field">
                        <label for="description">Description</label>
                        <textarea id="description" formControlName="description" pInputTextarea required rows="3" cols="20"></textarea>
                    </div>
                </form>    
                <ng-template pTemplate="footer">
                    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                    <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text" (click)="saveIngredient()"></button>
                </ng-template>
            </p-dialog>

            <p-dialog [(visible)]="deleteIngredientDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span *ngIf="ingredient">Esta seguro en eliminar el ingrediente <b>{{ingredient.name}}</b>?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteIngredientDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirmDelete()"></button>
                </ng-template>
            </p-dialog>

            <p-dialog [(visible)]="deleteIngredientsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span>Esta seguro en eliminar los ingredientes seleccionados?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteIngredientsDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="si" (click)="confirmDeleteSelected()"></button>
                </ng-template>
            </p-dialog>
        </div>
    </div>
</div>