$scale: 14px !default;
$breakpoint: 992px !default;

.card {
    padding: 3rem;
   }

@media screen and (max-width: $breakpoint) {
    .card {
        padding: 2rem;

        h5 {
            margin: 10px !important;
        }

        .table-header {
            display: flex;
            flex-direction: row !important;
            justify-content: space-between;
            align-items: center;
            gap: 5px;
        }

        .btn-cash {
            width: 15px;
            border-radius: 50%;
            justify-content: center;
        }

        .button-label {
            display: none;
        }

        .td-table {
            font-size: 12px;
            padding: 10px;
        }
    }
}
