<div class="layout-footer">
    <div class="footer-start">
        <!-- <img [src]="'assets/layout/images/logo-' + (colorScheme === 'light' ? 'dark' : 'light') + '.png'" alt="logo" /> -->
        <span class="app-name"><img style="width: 70px;" src="../../assets/layout/images/LogoPos.png" alt="Logo PRACTIPOS"></span>
    </div>
    <div class="footer-end">
        <span> © <img style="height: 2rem;" src="../../assets/modules/images/auth/practilogon.png" alt="Logo PRACTI"></span>
    </div>
</div>
