<div class="layout-container" [ngClass]="containerClass">
    <app-topbar></app-topbar>
    <app-sidebar></app-sidebar>
    <div class="layout-content-wrapper">
        <div class="layout-content">
            <div class="layout-content-inner">
                <app-breadcrumb *ngIf="!router.url.includes('/pos')"></app-breadcrumb>
                <router-outlet></router-outlet>
                <app-footer *ngIf="!router.url.includes('/pos')"></app-footer>
            </div>
        </div>
    </div>
    <!-- <app-config></app-config> -->
</div>

