<div class="modal-background flex align-items-center justify-content-center">
    <div class="modal-content surface-card py-7 px-5 sm:px-7 shadow-2 flex flex-column w-11 sm:w-30rem" style="border-radius:14px">
        <form class='container' [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <h1 class="font-bold text-2xl mt-0 mb-4">Cambiar Contraseña</h1>
                <span class="p-input-icon-left mb-4" *ngIf="!isUpdatePassword">
                    <i class="pi pi-key z-2"></i>
                    <p-password id="password" formControlName="lastPassword" placeholder="Contraseña Actual" styleClass="w-full"  [inputStyle]="{paddingLeft: '2.5rem'}" inputStyleClass="w-full" [toggleMask]="true" [feedback]="false"  required></p-password>
                </span>
                <span class="p-input-icon-left mb-4">
                    <i class="pi pi-key z-2"></i>
                    <p-password id="password" formControlName="newPassword" placeholder=" Nueva Contraseña" styleClass="w-full"  [inputStyle]="{paddingLeft: '2.5rem'}" inputStyleClass="w-full " [toggleMask]="true"  required></p-password>
                </span>
                <div *ngIf="passwordForm.controls.newPassword.errors && passwordForm.controls.newPassword.errors['minlength']">
                    Min. 8 caracteres
                </div>
                <span class="p-input-icon-left mb-4">
                    <i class="pi pi-key z-2"></i>
                    <p-password id="password" formControlName="confirmPassword" placeholder="Confirm Contraseña" styleClass="w-full"  [inputStyle]="{paddingLeft: '2.5rem'}" inputStyleClass="w-full" [toggleMask]="true" [feedback]="false"  required></p-password>
                </span>
        </form>
         <div class="col-12 container-button">
            <div class="margin-right">
                <button pButton pRipple icon="pi pi-arrow-circle-left" label="Volver" class="w-auto mt-3 " (click)="onBack()"></button>
            </div>
            <div>
                <button pButton pRipple icon="pi pi-save" label="Guardar" class="w-auto mt-3" (click)="onSubmit()"></button>
            </div>
        </div>
    </div>
</div>



<!-- <app-config [minimal]="true"></app-config> -->